<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ghodel.snapsaver">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SnapSaver"
        tools:replace="android:allowBackup,android:theme">

        <activity
            android:name=".activity.StickerMakerActivity"
            android:label="@string/title_activity_sticker_maker"
            tools:replace="android:theme"
            android:theme="@style/Theme.SnapSaver.NoActionBar"></activity>
        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admod_id" />

        <activity
            android:name=".activity.Splashscreen"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".utils.CrashHandler$CrashActivity"
            android:label="App Crash"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoViewerActivity"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".activity.PhotoViewerActivity"
            android:theme="@style/SplashScreen" />
        <activity
            android:name=".activity.DirectMessageActivity"
            android:windowSoftInputMode="stateVisible" />

        <activity android:name=".whatsapp_code.activity.StickerDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.StickerMakerActivity" />
        </activity>

        <service
            android:name=".utils.VideoWallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/videowallpaper" />
        </service>

        <service android:name=".service.PhoneClipBoard"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.ghodel.snapsaver.START_SERVICE"/>
            </intent-filter>
        </service>


        <provider
            android:name=".whatsapp_code.provider.StickerContentProvider"
            android:authorities="${contentProviderAuthority}"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.whatsapp.sticker.READ" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>